<div class="account container">
       <div class="submitting">
              <div class="loader"></div>
              <div>loading...</div>
       </div>
       <!-- Title -->
       <div class="title">

              <h3>Account</h3>
              <div>Don't worry I will steal nothing. </div>
       </div>

       <form action="#"
             id="account">

              <input type="text"
                     name="firstName"
                     class="customer-name"
                     placeholder="First name" />

              <input type="text"
                     name="lastName"
                     class="customer-name"
                     placeholder="Last name" />

              <input type="text"
                     name="address"
                     class="customer-address"
                     placeholder="Example Street 67" />

              <input type="text"
                     name="zipcode"
                     class="customer-zipcode"
                     placeholder="Zipcode" />

              <input type="text"
                     name="city"
                     class="customer-city"
                     placeholder="City" />

              <input type="text"
                     name="country"
                     class="customer-country"
                     placeholder="Country" />

              <input type="email"
                     name="email"
                     class="customer-email"
                     placeholder="Email" />

              <textarea autocapitalize="sentences"
                        row="10"
                        name="bio"
                        class="customer-bio"
                        placeholder="Biography"></textarea>

              <button type="button" class="btn black" id="save">Save Changes</button>
       </form>


</div>