<footer>
    <div class="container">
        <div class="links-container">

            <div class="icon-links">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-twitter-square"></i>
            </div>


            <div class="links">
                <a href="#"> Info</a>
                <a href="#"> Support</a>
                <a href="#"> Marketing</a>
                <a href="#"> Term of Use</a>
                <a href="#"> Privacy Policy</a>
            </div>
        </div>
    </div>
    <div class="copyright"> &copy; 2021 Mark Bence Kiss</div>
</footer>