<ul class="pages">

    <li><a class="underline"
           href="#home">Home</a></li>

    <li><a class="underline"
           href="#aboutus">About Us</a></li>

    <li><a class="underline"
           href="#contact">Contact</a></li>



</ul>

<ul class="other">
    <li>
        <a href="#cart"
           class="cart">
            <i class="fas fa-shopping-cart"></i>
            <div class="cart-badge">1</div>
        </a>
    </li>

    <li>
        <a href="#login-or-signup"
           class="login-or-signup">
            <i class="fas fa-sign-in-alt"></i>
        </a>
    </li>


    <li>
        <div class="component-dropdown"
             data-name="user-dropdown"
             data-script=true
             data-ext="html"></div>
    </li>

</ul>