<div class="component-header"
     data-name="navigation"
     data-script=true
     data-ext="html"></div>

<header>
    <div class="header-banner">
        <div class="title">

            <h1>Come and be one of them!</h1>
            <div class="subtitle">
                <h4>This site is the biggest scam ever!</h4>
                <h4>And you can be the part of it!</h4>
            </div>

            <div class="call-to-action">
                <a href="#login-or-signup">Join Now!</a>
                <a href="#">Please, I need money!</a>
            </div>
        </div>
    </div>
</header>